ng-sidebar-container{
    height: 100vh;
}
::ng-deep .ng-sidebar{
    background-color: #f4f4f4;
    width: 250px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
    
}

.btn {
    background-color:black; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    /* height: 50px; */
    
    
  }
.menu{
    margin-top: 2em;
    display: block;
}
.menu li{
    margin-bottom: 15px;
}
.menu li a{
display: block;
width: 100%;
}
ul {
    list-style-type: none;
}
li {
    list-style:none;
    background-color:black;
    margin:5px 0px;
    text-align:center;
    padding:5px;
    border-radius:5px 5px;
    cursor:pointer;
}
li a {
    text-decoration:none;
    color:white;
}


